<p>account-login-component works!</p>
<h1>{{invalidLogin}}</h1>


<div>
  <form class="form-group" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <h2 class="text-center">login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">invalid username or password</div>
    </div>
    <div>
      <label>User Name</label>
      <input #UserName id="UserName" ngModel name="UserName" placeholder="User Name" required />
    </div>
    <div>
      <label>Password</label>
      <input type="password" #Password ngModel id="Password" name="Password" placeholder="Password" required />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<button (click) ="wt()"></button>
