<p>my-models works!</p>

<div>
  <div *ngFor="let model of this.ModelS.MyModels">
    <h2>{{model.title}}</h2>
    <div>
      <div id="{{model.title}}"></div>
      <app-viwer parentElementId="{{model.title}}" ModelUrl="https://downloader.disk.yandex.ru/disk/b3f64cd14ecfd36c489d92ffd97dbb42ed38b9c870979de3d2158d61bcd3e906/630274c5/ZN2nqGcHJidTFqbu4GvgPPGFV-45x_MEwkXWaKVumxVWDisqaeTKPTN4tSmqtzIeKyHtp0cmRdnBtH9i44uXZA%3D%3D?uid=1616600905&filename=art1.glb&disposition=attachment&hash=&limit=0&content_type=application%2Foctet-stream&owner_uid=1616600905&fsize=1779888&hid=ed628b5fafa1436970446d26befed385&media_type=data&tknv=v2&etag=2d3f24be1e479ef786168ad874695e59"></app-viwer>
      
      <app-file-upload apiPath="{{apiPath}}{{model.id}}"></app-file-upload>
    </div>
  </div>
</div>


