<div>
  File upload
  <input type="file" class="file-input"
         [accept]="requiredFileType"
         (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload">

    {{fileName || "No file uploaded yet."}}

    <button class=" bg-danger btn upload-btn"
            (click)="fileUpload.click()">
      <div>attach_file</div>
      click me to upload

    </button>

  </div>
      
  file upload progress bar
  <div class="progress">
    <h1>progress</h1>
    <div class="progress-bar" *ngIf="uploadProgress">
      {{uploadProgress}}
    </div>

    <div class="cancel-upload" (click)="cancelUpload()"
         *ngIf="uploadProgress">delete_forever</div>

  </div>
  
</div>

<h1>hello</h1>



