<p>create works!</p>

<div>
  <form class="form-group" #form="ngForm" (ngSubmit)="Create(form)">
    <div class="form-group">
      <label>Title</label>
      <input class="input-group" type="text"/>
    </div>

    <div class="form-group">
      <label class="form-label">Description</label>
      <input class="input-group" type="text" />
    </div>

    <div class="form-group">
      <label>File</label>
      <input class="input-group" type="file" />

    </div>

    <div class="form-group">
      <label>Category</label>
      <input class="input-group" type="text" />
    </div>
    <button type="submit">Create</button>
  </form>
</div>
