<p>create works!</p>

<div>

  <div>
    <p class="text-danger">файл должен быть расширения jltf и в названии содержать не более 1 точки.</p>
  </div>

  <form class="form-group" #form="ngForm" (ngSubmit)="Create(form)" enctype="multipart/form-data">
    <div class="form-group">
      <label>Title</label>
      <input class="input-group" name="title" type="text" #title ngModel />
    </div>

    <div class="form-group">
      <label class="form-label">Description</label>
      <input class="input-group" name="description" type="text" ngModel #description />
    </div>
    <!---->
    <!--<app-file-upload></app-file-upload>-->
    <!---->


    <div class="form-group">
      <label>Category</label>

      <select class="input-group" name="category" ngModel #category>
        <option *ngFor="let item of this.CategoryS.Categories">{{item.title}}</option>
      </select>

    </div>
    <button type="submit">Create</button>
  </form>
</div>
